.contentHeader {
  position: relative;
  padding: 15px 15px 0 15px;
}
.contentHeader > h1 {
  margin: 0;
  font-size: 24px;
}
.contentHeader > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}
.contentHeader > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}
.contentHeader > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}
.contentHeader > .breadcrumb > li > a > .fa,
.contentHeader > .breadcrumb > li > a > .glyphicon,
.contentHeader > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.contentHeader > .breadcrumb > li + li:before {
  content: '>\00a0';
}
@media (max-width: 991px) {
  .contentHeader > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
  }
  .contentHeader > .breadcrumb li:before {
    color: #97a0b3;
  }
}