/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Aug, 2017, 7:19:04 PM
    Author     : ketan.doshi
*/
.bg-red {
  background-color: #dd4b39 !important;
  color: #fff !important;
}
.bg-green {
  background-color: #00a65a !important;
  color: #fff !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
  color: #fff !important;
}
.bg-aqua {
    background-color: #00c0ef !important;
    color: #fff !important;
}
.bg-blue {
  background-color: #0073b7 !important;
  color: #fff !important;
}

