@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  font-family: 'Source Sans Pro';
  font-weight: 400;
}

/*
 * App Layout
 * --------------------------------------------------
 */
html, body { height: 100%; }

body {
  color: black;
  padding-top: 50px;
}

body > .container-fluid {
    background: purple;
}

.main {
  background: burlywood;
}

.content {
  background: beige;
}
