/*
 * Screen: CardView
 * ----------------------
 */

 @import "../scss/Config";

 .cardSubtitle {
     font-size: $font-size-base;
     font-weight: $font-weight-normal;
     color: $dark-gray;
     margin-bottom: 0px;
 }
 
 .cardHeader{
     padding: 15px 15px 0;
     border-bottom: none !important;
     background-color: transparent!important;
 }
 
 .cardTitle{
     margin: $none;
     color: $black-color;
     font-weight: $font-weight-light;
 }
 
 .cardPlain{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    border: none !important;
}