/*
 * Page: Main Header
 * ----------------------
 */

@import "Config";

.navbar {
    @include transition($general-transition-time, $transition-linear);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $primary-font;
    font-weight: $font-weight-normal;
    margin-bottom: 0;
    border: $none;
    font-size: $font-size-navbar;
    border-radius: 0;
    min-height: 50px;
    background-color: $white-navbar;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebarToggle {
    margin: $navbar-margin-btn;
    font-size: $font-size-base;
}

.navbarBrand {
    font-weight: 400;
    margin: 5px 0px;
    font-size: 20px;
    color: $default-color;

    &:hover{
        color: #5e5e5e;
    }

    @media (max-width: 991px) {
        padding: 15px 15px;
    }
}

.navbarToggle {
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

.burger {
    display: block;
    position: relative;
    background-color: #888;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    margin: 4px auto;
}

.navLink{
    color: $default-color;
    padding: $navbar-padding-a;
    margin: $navbar-margin-a;
    position: relative;
    display: inline-flex;
    line-height: 40px;
}

